<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- Bootstrap. Change to min for production -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Date Range Picker -->

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <!-- Override bootstrap with custom css -->
    <link rel="stylesheet" href="/static/css/feva.css" />
    <!-- Site title & etc. -->
    <title>Feva - evaluate weather forecast accuracy</title>
</head>

<body onload="">
<div class="container" id="main-container">
    <!-- Main container -->
    <div class="row" id="header-wrapper">
        <div class="col-md-12">
        <h3>Feva</h3>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-left">

            <span style="font-size: 12px;">Evaluate weather forecast accuracy</span>
        </div>
        <div class="col-md-5 pull-right" id="clock">
        </div>
    </div>

    <div class="row">
        <div class="row">
            &nbsp;
        </div>
        <div class="col-md-4" id="search-components-wrapper">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="input_location_coord" id="location-coord-box" value="">
                        <div class="input-group">
                            <input type="text" class="form-control" name="input_location" id="search-box" placeholder="choose location" title="choose location" autofocus>
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="button-search">Search</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control" name="daterange" id="date-picker" ></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control" id="select-data-type">
                            <!-- Types of forecast/observation data to be displayed -->
                            <option value="rain">Rainfall</option>
                            <option value="temperature">Temperature</option>
                            <option value="wind_speed">Wind Speed</option>
                            <option value="wind_direction">Wind Direction</option>
                            <option value="cloud">Cloud</option>
                            <option value="humidity">Humidity</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                <a class="btn btn-primary" data-toggle="collapse" data-target="#settings-div">
                     <span>Settings</span> <span class="glyphicon glyphicon-cog"></span>

                </a>
                <div class="collapse" id="settings-div">
                <form id="settings-form" class="collapse in">
                    <div class="form-group">
                        <label for="observation-source" class="settings-label">Observation Source: </label>
                        <select class="form-control" id="observation-source">
                            <option value="">Any Source</option> <!-- TODO: query the available sources via the web API rather than hardcoding them here. -->
                            <option value="WOW">WOW</option>
                            <option value="BOM">BOM</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="forecast-source">Forecast Source: </label>
                        <input class="form-control" id="forecast-source" type="text" value="BOM"/>
                    </div>
                    <div class="form-group">
                        <label for="search-radius" class="settings-label">Search Radius (meters): </label>
                        <input class="form-control" id="search-radius" type="text" value="0"/>
                    </div>
                </form>
                    </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <a class="btn btn-primary" data-toggle="collapse in" data-target="#bar-div">
                     <span>Status</span> <span class="glyphicon glyphicon-stats"></span>
                </a>
                    </div>
            </div>
        </div>

        <div class="col-md-8" id="main-content-wrapper">
            <!-- This is where main content goes, a giant table of data and an interactive map -->
            <div style="margin: 1em 0em;">
                <span id="location-name-label" style="display:inline-block; font-size:18pt;">Choose a location</span>
                <span id="observation-summary" style="display:inline-block; margin:0em 0em 0em 0.5em; font-size:18pt;"> </span>
            </div>
            <h3>Forecasts</h3>
            <div class="row" id="result-table">
                <!-- A giant table -->

                <table class="table" id="data-table" class="collapse">
                    <!--title row-->
                    <tbody>
                    <tr id="loading">
                        <td><i class="fa fa-refresh fa-spin"></i> <span>Loading results</span></td>

                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
    <div class="row" id="map-wrapper">
        <div class="col-md-12">
            <div id="obs-points">
                <label>Observation Points:
                    <span id="obs_count"></span>
                </label>
            </div>
            <!-- An interactive map -->
            <div id="map"></div>
        </div>
    </div>


    <div class="row" id="footer-wrapper">
        <!-- Footer here -->
        <div class="col-md-12" id="footer">
            <span id="">Copyright 2016, Feva Project Team, All rights reserved.</span>
        </div>
    </div>
    <!-- End of main container -->
</div>
</body>
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Daterange picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!-- Configure map script -->
<script src="static/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_1pVcpztI11bnkeOehBiFPIVtAT4io9w&libraries=places&callback=initMap" async defer></script>


<!-- bootstrap -->
<script src="/static/js/component/bootstrap.js"></script>

<!-- Flask -->
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- Moment -->
<script src="/static/js/component/moment-with-locales.min.js"></script>

<!-- main app -->
<script src="static/js/app.js"></script>

<!-- Clock -->
<script>
/*
    function startTime() {
        $('#clock').html(moment().format("MMMM Do YYYY, h:mm:ss a"));
        setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
*/
</script>

<!-- Master onload function -->
<script>
    var app = new Application();

    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }
//    addLoadEvent(startTime);
    addLoadEvent(function() {
        app.init({});
    });
</script>

</html>
