<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Bootstrap. Change to min for production -->
	<link rel="stylesheet" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
	<!-- Date Range Picker -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<!-- Override bootstrap with custom css -->
	<link rel="stylesheet" href="/static/css/feva.css" />
	<!-- Site title & etc. -->
	<title>Feva</title>
</head>

<body onload="">
<div class="container" id="main-container">
	<!-- Main container -->
	<div class="row" id="header-wrapper">
		<!-- This row should contain the heading and perhaps a navigation bar -->
		<div class="col-md-12">
			<h3>Feva</h3>
			<span style="font-size: 12px;">: evaluate weather forecast accuracy</span>
			<span id="clock" style="display: inline-block;"></span>
		</div>
	</div>

	<div class="row" id="search-bar-wrapper">
		<div class="col-md-12" id="search-components-wrapper">
			<select id="select-data-type">
				<!-- Types of forecast/observation data to be displayed -->
				<option value="rain">Rainfall</option>
				<option value="temperature">Temperature</option>
				<option value="wind_speed">Wind Speed</option>
				<option value="wind_direction">Wind Direction</option>
				<option value="cloud">Cloud</option>
				<option value="humidity">Humidity</option>
			</select>
			<input type="text" name="daterange" id="date-range-picker" >

			<script type=text/javascript>
				var startDate = new Date(new Date().setDate(new Date().getDate()-7));
				var endDate = new Date;	// Today
				// Configure date range picker
				$('input[name="daterange"]').daterangepicker(
				{
					locale: {
						format: 'YYYY-MM-DD'
					},
					"dateLimit": {
						"days": 7
					},
					startDate: startDate,
					endDate: endDate
				}, function(start, end, label) {
					console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
					startDate = new Date(start.format('YYYY-MM-DD'));
					endDate = new Date(end.format('YYYY-MM-DD'));
				});
			</script>
			<!-- <label class="search-bar-label">Location:</label> -->
			<input type="text" name="input_location" id="search-box" placeholder="Search for place">
			<input type="text" name="input_location_coord" id="location-coord-box" value="">
			<button id="button-search" onclick="search()">Search</button>
			<!-- Search button action script -->
			<script type=text/javascript>
				function search() {
					// Feva API call to retrieve JSON object
					var e = document.getElementById("select-data-type"),
						data_type = e.options[e.selectedIndex].value,
						lat = $('input[name="input_location_coord"]').val().split(",")[0],
						lon = $('input[name="input_location_coord"]').val().split(",")[1],
						location = $('input[name="input_location"]').val(),
						time = endDate.toISOString(),
						max_dist = 10000; // meters
					// alert() is only for debug 
					if (location == '' || location == null) {
						alert("Please select a location");
						return;
					} else {
						alert("Latitude: " + lat + "\n" +
								"Longitude: " + lon + "\n" +
								"Type: " + data_type + "\n" +
								"Max Distance: " + max_dist + "\n" +
								"Time: " + time
						);
					}

					// Update location name label
					document.getElementById("location-name-label").innerHTML = 
						$('input[name="input_location"]').val().split(",")[0] + ", " + $('input[name="input_location"]').val().split(",")[1];

					// Display data table if hidden
					$('#data-table').collapse("show");

					// Clear previous content
					var data_table = document.getElementById("data-table");
					for (i = 1; data_table.rows.length - i > 0; ) {
						data_table.deleteRow(data_table.rows.length - i);
					}

					// Calculate how many days of data to lookup
					var time_span =  Math.ceil(Math.abs(endDate.getTime() - startDate.getTime()) / (1000 * 3600 * 24)) + 1;
					for (i = 1; i <= time_span; i++) {
						tr = data_table.insertRow(i);
						tr.id = "data-table-content-row-"+i;
					}

					// Initiate requests for each day
					for (i = 0; i < time_span; i++) {
						time = new Date((new Date).setDate(endDate.getDate()-i));
						displayData(data_type, lat, lon, max_dist, time, i+1);
					}
				}
				// Send API calls
				function makeAPICalls(data_type, lat, lon, max_dist, time, callback){
					// Send search request
					console.log(data_type, lat, lon, max_dist, time);
					var temp = $.getJSON($SCRIPT_ROOT + 'api/evaluate', {
						weather_type: data_type,
						latitude: lat,
						longitude: lon,
						max_distance: max_dist,
						time: time.toISOString()//.substring(0, 10) + "T04\:00\:00\.0Z"
					}, function(data) {
						callback(data);
					});
				}

				// Display returned API data and populate the data table
				function displayData(data_type, lat, lon, max_dist, time, row_number){
					//get our JSON
					makeAPICalls(data_type, lat, lon, max_dist, time, function(data){
						//when we get our data, evaluate
						// console.log(time);
						if (data.success == true){
							var fc_unit = "", ob_unit = "";
							switch (data_type) {
								case "rain":
									fc_unit = "%";
									ob_unit = "mm";
									break;
								case "temperature":
									fc_unit = "°C";
									ob_unit = "°C";
									break;
								case "wind_speed":
									fc_unit = "km/h";
									ob_unit = "km/h";
									break;
								default:
									break;
							}
							console.log(data);
							// Get returned data average
							var observation_points = [];
							var forecast_value_average = 0, observation_value_average = 0;
							for (i = 0; i < data.data.length; i++) {
								forecast_value_average += data.data[i].forecast.value;
								observation_value_average += data.data[i].observation.value;
								observation_points[i] = [data.data[i].observation.value.toString(),
														data.data[i].observation.location[0],
														data.data[i].observation.location[1]];
							}
							forecast_value_average = (forecast_value_average / data.data.length).toFixed(2);
							observation_value_average = (observation_value_average / data.data.length).toFixed(2);
							accuracy = "-"
							if (data.data[0].accuracy == true) { 
								accuracy = "<span style='color:#00FA00;'>✔</span>" ;
							} else {
								accuracy = "<span style='color:#FA0000;'>✘</span>";
							}
							//addMarkers(map, observation_points);
							// Display valid data
							document.getElementById("data-table-content-row-" + row_number).innerHTML = 
								"<td>" + data.data[0].observation.time.substring(5, 10) + "</td>" + 
								"<td>" + forecast_value_average.toString() + fc_unit + "</td>" +
								"<td>" + observation_value_average.toString() + ob_unit + "</td>" +
								"<td>" + accuracy + "</td>";
						} else {
							// Display error
							console.log(data);
							document.getElementById("data-table-content-row-" + row_number).innerHTML = 
								"<td>" + time.toISOString().substring(5, 10) + "</td>" +
								"<td>" + "no data" + "</td>" +
								"<td>" + "no data" + "</td>" +
								"<td>" + "-" + "</td>";
						}
					});
				}
			</script>
		</div>
	</div>

	<div class="row" id="main-content-wrapper">
		<!-- This is where main content goes, a giant table of data and an interactive map -->
		<div class="col-md-4" id="sidebar-wrapper">
			<div class="sidebar-sections" id="location-data">
				<a class="show-hide-button" data-toggle="collapse" data-target="#data-table">
					<span id="location-name-label">no evaluation result</span>
					<span class="glyphicon glyphicon-info-sign"></span>
				</a>
				<!-- A giant table -->
				<table style="width: 100%;" id="data-table" class="collapse">
					<!--title row-->
					<tr style="font-weight: bold;" id="data-table-title-row">
						<td>Date</td>
						<td>Forecast</td>
						<td>Actual</td>
						<td>Accu.</td>
					</tr>
					<!--content row(s)-->
					<tr>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
				</table>
			</div>

			<div class="sidebar-sections" id="settings">
				<a class="show-hide-button" data-toggle="collapse" data-target="#settings-form">
					<span>settings</span>
					<span class="glyphicon glyphicon-cog"></span>
				</a>
				<form id="settings-form" class="collapse">
					<span class="settings-label">Forecast Source: 
						<input class="settings-input" type="text" value="BOM"></input>
					</span>
					<span class="settings-label">Observation Source:
						<input class="settings-input" type="text" value="BOM"></input>
					</span>
					<span class="settings-label">Search Radius: 
					<input class="settings-input" type="text" value="10000"></input>
					</span>
				</form>
			</div>

			<div class="sidebar-sections">
				<a class="show-hide-button" data-toggle="collapse" data-target="#foo-div">
					<span>foo</span>
					<span class="glyphicon"></span>
				</a>
				<div id="foo-div" class="collapse">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus felis a lorem posuere molestie at eget purus. Ut eu varius risus, ac molestie ligula. Donec eget purus varius nulla fringilla porta eu eu nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nec posuere felis. Aliquam quis mollis orci, pellentesque ullamcorper eros. Cras tincidunt ultricies laoreet. Etiam interdum facilisis lacus quis ultrices. Duis sagittis ligula vel suscipit placerat.</p>
				</div>
			</div>

			<div class="sidebar-sections">
				<a class="show-hide-button" data-toggle="collapse" data-target="#bar-div">
					<span>status</span>
					<span class="glyphicon glyphicon-stats"></span>
				</a>
				<div id="bar-div" class="collapse in">
					<form>
						<label>Current Observation Points:</label>
						<label id="obs_count"></label>
					</form>
				</div>
				<script>
					// Make API call to get 
					function getObservations(lat, lon, max_dist, callback){
						// Send search request
						var temp = $.getJSON('http://feva.ddns.net:8080/api/locations/observations', {
							latitude: lat,
							longitude: lon,
							max_distance: max_dist,
							limit: 99999999
						}, function(data) {
							callback(data);
						});
					}
					// Display return number of observation points
					function displayNumObs(lat, lon, max_dist){
						//get our JSON
						getObservations(lat, lon, max_dist, function(data) {
							if (data.success == true) {
								var raw_data = data.data,
									uniq_locations = [];
								$.each(raw_data, function (index, value) {
									if($.inArray(value.location, uniq_locations) == -1) {
										uniq_locations.push(value.location);
									}
								});
								$.each(uniq_locations, function (index, value) {
									uniq_locations[index].splice(0, 0, " ");
								});
								addMarkers(map, uniq_locations);
								console.log("current number of observation points: " + uniq_locations.length);
								document.getElementById("obs_count").innerHTML = uniq_locations.length;
							}
						})
					}
					displayNumObs(-37.8095, 144.964, 600000);
				</script>
			</div>
		</div>

		<div class="col-md-8" id="map-wrapper">
			<!-- An interactive map -->
			<div id="map"></div>
			<!-- Configure map script -->
			<script>
				var map, searchBox, geocoder;
				var locations = [];
				// Google maps initialiser
				function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
						zoom: 8,
						mapTypeControlOptions: { mapTypeIds: [] },
						streetViewControl: false,
						zoomControl: false,
					});
					searchBox = new google.maps.places.SearchBox(document.getElementById('search-box'));

					// Create the search box and link it to the UI element.
					var input = document.getElementById('search-box');
					var searchBox = new google.maps.places.SearchBox(input);

					// Bias the SearchBox results towards current map's viewport.
					map.addListener('bounds_changed', function() {
						searchBox.setBounds(map.getBounds());
					});

					var markers = [];
					// Listen for the event fired when the user selects a prediction and retrieve
					// more details for that place.
					searchBox.addListener('places_changed', function() {
						var places = searchBox.getPlaces();

						if (places.length == 0) {
							return;
						}

						// Save location coordinates for later use
						document.getElementById('location-coord-box').value = 
							places[0].geometry.location.lat() + "," + places[0].geometry.location.lng();

						// Clear out the old markers.
						markers.forEach(function(marker) {
							marker.setMap(null);
						});
						markers = [];

						// For each place, get the icon, name and location.
						var bounds = new google.maps.LatLngBounds();
						places.forEach(function(place) {
							// Create a marker for each place.
							markers.push(new google.maps.Marker({
								map: map,
								title: place.name,
								position: place.geometry.location
							}));

							if (place.geometry.viewport) {
								// Only geocodes have viewport.
								bounds.union(place.geometry.viewport);
							} else {
								bounds.extend(place.geometry.location);
							}
						});
						map.fitBounds(bounds);
						search();
					});
					// Focus to users location
					//getUserLocation();
					map.panTo(new google.maps.LatLng(-37.8095,144.964));
					// Display observation points
					addMarkers(map, locations);
				}

				// Get user's location
				function getUserLocation() {
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(showPosition);
					} else {
						alert("Geolocation is not supported by this browser.");
					}
				}

				// Focus map to user's location
				function showPosition(position) {
					var lat = position.coords.latitude;
					var lng = position.coords.longitude;
					map.setCenter(new google.maps.LatLng(lat, lng));
				}

				// Load all forecast/observation location points into an array and load to map
				function addMarkers(map, locations) {
					for (var i = 0; i < locations.length; i++) {
						var loc = locations[i];
						var redCircle ={
							path: google.maps.SymbolPath.CIRCLE,
							fillColor: 'red',
							fillOpacity: .4,
							scale: 4.5,
							strokeColor: 'white',
							strokeWeight: 1
						};
						var marker = new google.maps.Marker({
							position: {lat: loc[1], lng: loc[2]},
							icon: redCircle,
							map: map,
							title: loc[0],
							zoom: 10,
						});
					}
				}
			</script>

			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_1pVcpztI11bnkeOehBiFPIVtAT4io9w&libraries=places&callback=initMap" 
				async defer></script>
		</div>
	</div>

	<div class="row" id="footer-wrapper">
		<!-- Footer here -->
		<div class="col-md-12" id="footer">
			<span id="">Copyright 2016, Feva Project Team, All rights reserved.</span>
		</div>
	</div>
	<!-- End of main container -->
</div>
</body>

<!-- bootstrap -->
<script src="/static/js/bootstrap.js"></script>

<!-- Flask -->
<script type=text/javascript>
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- Clock -->
<script>
	function startTime() {
		var today = new Date();
		var zone = today.getTimezoneOffset();
		var year = today.getFullYear();
		var month = today.getMonth()+1;
		var day = today.getDate();
		var h = today.getHours();
		var m = today.getMinutes();
		var s = today.getSeconds();
		month = checkTime(month);
		day = checkTime(day);
		h = checkTime(h);
		m = checkTime(m);
		s = checkTime(s);
		document.getElementById('clock').innerHTML =
		"<span style=';font-size:9px;'>" + "GMT"+ zone/60 + "</span>" + "<br>" +
		"<span style='font-weight:bold;'>" + year + "-" + month + "-" + day + " " + h + ":" + m + ":" + s + "</span>";
		var t = setTimeout(startTime, 500);
	}
	function checkTime(i) {
		if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		return i;
	}
</script>

<!-- Master onload function -->
<script>
	function addLoadEvent(func) {
		var oldonload = window.onload;
			if (typeof window.onload != 'function') {
			window.onload = func;
		} else {
			window.onload = function() {
				if (oldonload) {
					oldonload();
				}
				func();
			}
		}
	}
	addLoadEvent(startTime);
</script>

</html>
