.container {
  /** THIS IS FOR DEBUGGING ONLY, REMOVE OR OVERRIDE AT RELEASE **/
  background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,     rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
    #8a3;
  background-size: 20px 20px;
}

.row {
  /** THIS IS FOR DEBUGGING ONLY, REMOVE OR OVERRIDE AT RELEASE **/
  background-color: rgba(255, 55, 125, 0.5);
}

.col-md-12 {
  /** THIS IS FOR DEBUGGING ONLY, REMOVE OR OVERRIDE AT RELEASE **/
  background: rgba(0, 0, 77, 0.35);
}

.col-md-6 {
  /** THIS IS FOR DEBUGGING ONLY, REMOVE OR OVERRIDE AT RELEASE **/
  background: rgba(63, 127, 191, 0.75);
}

.debug-span {
  font-weight: bold;
  font-size: 9px;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
}

#map {
  min-height:800px;
  width:100%;
}

#footer {
  min-height: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
