#map {
  height: 300px;
}

#location-coord-box {
  display: none;
}

#obs-points {
  z-index: 1000;
}

thead tr {
  font-weight: bold;
}

#location-name-label {
    font-weight: bold;
}

#clock {
    text-align: right;
    font-weight: bold;
}

body {
    background: #dddddd;
}

.container {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px #888888;
}

#result-table {
    display: none;
}

#loading {
    display: none;
    text-align: center;
}