<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap. Change to min for production -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />

    <title>Feva</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Feva Project</h1>
        </div>
    </div>
</div>
</body>
<!-- bootstrap -->
<script src="/static/js/bootstrap.js"></script>
</html>
