<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap. Change to min for production -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
    <!-- Override bootstrap with custom css -->
    <link rel="stylesheet" href="/static/css/feva.css" />
    <!-- Site title & etc. -->
    <title>Feva</title>
</head>
<body>
<div class="container">
	<!-- Main container -->
    <div class="row" id="heading-wrapper">
    	<!-- This row should contain the heading and perhaps a navigation bar -->
        <div class="col-md-12">
            <h1>Feva - Weather Forcast Accuracy</h1>
        </div>
    </div>

    <div class="row" id="search-bar-wrapper">
    	<!-- This row should contain a search bar -->
    	<div class="col-md-12" >
    		<input type="text"></input>
    		<button>SEARCH</button>
    	</div>
    </div>

    <div class="row" id="main-content-wrapper">
 	   	<!-- This is where main content goes, a giant table of data and an interactive map -->
        <div class="col-md-6">
        	<!-- A giant table -->
        	<span class="debug-span">table</span>
        	<table style="width: 100%;">
        		<!--title row-->
        		<tr style="font-weight: bold;">
        			<td>Location</td>
        			<td>Forecast</td>
        			<td>Observation</td>
        		</tr>
        		<!--content row(s)-->
				<tr>
        			<td>Melbourne</td>
        			<td>25C</td>
        			<td>20C</td>
        		</tr>
        	</table>
        </div>
        <div class="col-md-6">
        	<span class="debug-span">map</span>
        	<!-- An interactive map -->
        	<div id="map"></div>
        	<!-- Configure map script -->
		    <script>
		      var map;
		      function initMap() {
		        map = new google.maps.Map(document.getElementById('map'), {
		          center: {lat: -37.8095, lng: 144.964},
		          zoom: 8
		        });
		      }
		    </script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_1pVcpztI11bnkeOehBiFPIVtAT4io9w&callback=initMap"
				async defer></script>
        </div>
    </div>

    <div class="row" id="footer-wrapper">
    	<!-- Footer here -->
    	<div class="col-md-12" id="footer">
    		<span class="debug-span">this is a footer with some copyright and crap</span>
    	</div>
    </div>
    <!-- End of main container -->
</div>
</body>
<!-- bootstrap -->
<script src="/static/js/bootstrap.js"></script>
</html>
